{% extends 'index.html' %}
{% block title %}Résumé{% endblock %}
{% load static %}
{% block css %}{% static '/compte/dashboard.css' %}{% endblock css %}
{% block content %}
<menu>
    <div class="liste_categorie">
    {% for categorie in liste_matieres_par_categorie %}
    <div class="categorie">
        <a onclick="afficherMatieres('{{ categorie.0.categorie_enseignement }}')">
        <b>{{ categorie.0.categorie_enseignement }}</b>
        </a>
        <div id="{{ categorie.0.categorie_enseignement }}_bloc" class="liste-matiere" style="display: none;">
        {% for matiere in categorie %}
            <li class="bloc_cours">
            <a href="{% url 'affichermatieredetail' matiere_nom=matiere.nom|slugify matiere_id=matiere.id %}"><b class="intitule">{{ matiere.nom }}</b></a>
            </li>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="options-fixes additional-options">
        <img src="info.png">
        <div>
            <p> Bonjour, {{request.user.prenom}}</p>
            <a href="{% url 'logout' %}"><p> Se déconnecter </p></a>
        </div>
        <p> Réglage </p>
    </div>
</menu>
<div class="contenu">
    <div class="info cours">
        <div class="intitule">
            <h1> Tableau de bord </h1>
        </div>
        <div class="stats">
            <p>Nombre de cartes:  {{cartes|length}}</p>
            <a href=""><p>Documents associés</p></a>
            <p>Mis en ligne le : {{ cours.date|default_if_none:"non spécifié"}} </p>
            <p>Difficulté : {{cours.difficulte|default_if_none:"non calculé"}}</p>
        </div>
    </div>
    <div class="info cartes">
        {{deck}}
        <div class="progression">
            <a><img src="../media/icones/icone_carte.png.png" sizes="3"></a>
            <progress max="{{cartes|length}}" value="{{nombre_cartes_apprises}}"></progress>
        </div>
        <a href="{% url 'voir-cartes-perso' %}">voir les cartes</a>
        <div class="info_revision">
            <li class="liste_cours">
                {% for tag, count in tag_counts.items %}
                <a>
                    {% if count == 1 %}
                        {{ count }} {{ tag }}
                    {% else %}
                        {{ count }} {{ tag}}{{ tag | pluralize:'s' }}
                    {% endif %}
                </a>
                {% endfor %}
            </li>
        </div>
        {% if cartes is not None %}
        <a class="reviser" href="{% url 'reviser_cartes' revision_instance.id %}">
            <button>
                Revoir toute vos cartes
            </button>
        </a>
        {% else %}
        <a class="reviser">
            <p> Pas Encore De Cartes Disponibles !! </p>
            <a href="{% url 'creer-carte' %}">
                <button>
                    Créer des cartes
                </button>
            </a>
            <a href='{% url 'voir-cartes' %}'>
                <button>
                    Rechercher des cartes parmis celle déjà existente
                </button>
             </a>
        {% endif %}
    </div>
    <div class="info">
        <ul class="exercices">
            {% if exercices|length is 0 %}
            
            {% else %}
            {% for exercice in exercices %}
            <li class="exo">
                <a href="{% url 'unourien' session exercice.titre|slugify %}">
                <p>{{ exercice.titre|default:"Default Title" }}</p>
                <img src="{{exercice.illustration.path|default_if_none:'../static/cours/default.png'}}">
                </a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<script>
function afficherMatieres(categorieId) {
  var blocCoursElement = document.getElementById(categorieId + '_bloc');
  
  // Affiche ou masque le bloc_cours
  if (blocCoursElement.style.display === 'none') {
    blocCoursElement.style.display = 'block';
  } else {
    blocCoursElement.style.display = 'none';
  }
}
</script>
{% endblock %}