
.liste_matiere{
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding-right: 25%;
  align-content: space-around;
}

.panelMatiere{
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  
}
.panelCours{
  display: flex;
  width: 45%;
  border-style: solid;
  flex-direction: column;
  padding-left: 0;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 10px 5px lightblue;
}

.infoMatieres{
  display: flex;
  flex-direction: row;
  align-self: center;
  max-width: 135px;
  max-height: 135px;
}

.intitule{
  padding: 1ch;
  display: flex;
  padding-left: 3%;
}

.listeCours{
  display: flex;
  column-gap: 5%;
  overflow: hidden;
  align-items: flex-start;
  padding-left: 0;
  overflow-x: scroll;
}
.cours{
  padding: 1.3ch;
  display: grid;
}

.cours a{
  justify-self:start;
}

.cours img{
  max-width:100px;
}
.more{
  max-width: 100px;
  align-self: center;
}

.icone_cours:hover{
  cursor:pointer;
}