<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <menu>
        <div class="categorie">
            TRONC COMMUN MDR
            <li class="bloc_cours">
                <b class="intitule"> Histoire Géo </b>
            </li>
            <li class="bloc_cours">
                <b class="intitule"> Philosophie </b>
            </li>
        </li>
        <div class="categorie">
            SPÉCIALITÉS
            <li class="bloc_cours">
                <b class="intitule"> Mathématiques </b>
            </li>
            <li class="bloc_cours">
                <b class="intitule"> NSI </b>
            </li>
        <div class="categorie">
            LANGUE VIVANTES
            <li class="bloc_cours">
                <b class="intitule"> Italien </b>
            </li>
        </div>
        <div class="categorie">
            OPTION
            <li class="bloc_cours">
                <b class="intitule"> Maths Expertes </b>
            </li>
        </div>
    </menu>
</body>
</html>
<!--
        <div class="contenu">
        <div class="info cours">
            <div class="intitule">
                <h1> VECTEURS </h1>
                <p>Problématique:</p>
            </div>
            <div class="stats">
                <p>Nombre de cartes:</p>
                <p>Documents associés:</p>
                <p>Mis en ligne le :</p>
            </div>
        </div>
        <div class="info cartes">
            <div class="progression">
                <a><img src="../media/icones/icone_carte.png.png" sizes="3"></a>
                <progress></progress>
            </div>
            <div class="info_revision">
                <li class="liste_cours">
                    <li> Définitions</li>
                    <li> Généralités</li>
                    <li> Formules</li>
                </li>
            </div>
            <a class="reviser">
                <button>
                    Réviser les cartes!!
                </button>
            </a>
        </div>
        <div class="info">
            <li class="exercices">
                <li class="exo">
                    <p>Calculer des aires</p>
                    <img>
                </li>
                <li class="exo">
                    <p>Calculer des aires aveec une méga règle qui tue sa mère</p>
                    <img>
                </li>
                <li class="exo">
                    <p>Calculer des aires</p>
                    <img>
                </li>
                <li class="exo">
                    <p>Calculer des aires</p>
                    <img>
                </li>
                <li class="exo">
                    <p>Calculer des aires</p>
                    <img>
                </li>
            </li>
        </div>
    </div>
-->